body{
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    letter-spacing: 1.5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

.nav-section{
    height: 10% ;
    background-color: #2b3289;
    z-index: 20;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-section{
    padding-inline: 12rem;
}
.nav-section nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    
}
.nav-section nav a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease; 
    box-sizing: border-box; 
    padding: 1rem 2rem;
}
.nav-section nav a:hover{
    background-color: white;
    color: #2b3289;
    border-radius: 10px;
}
.footer-section{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 10% ;
    background-color: #2b3289;
    z-index: 20;
    box-shadow: 10px 0px 8px 0 rgba(0, 0, 0, 0.2), 10px 0px 20px 0 rgba(0, 0, 0, 0.19);

}
.landing-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    row-gap: 5rem;
}
#hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    max-width: 600px;
}
#hero-content p{
    font-weight: bolder;
}
.landing-content a button{
    padding: 1rem 3rem;
    border-radius: 10px;
    background-color: #2b3289;
    color: white;
    scale: 1.2;
    transition: all 0.3s ease; 
    
}
.landing-content a button:hover{
    background-color: white;
    color: #2b3289;
    cursor: pointer;
    font-weight: bolder;
}
@media screen and (min-width:1000px) {
  .nav-section nav{
    font-size: 1.5rem;
  }
  .footer-section{
    font-size: 1.5rem;
  }
  .landing-content #hero-content{
    scale: 1.2;
  }
  .landing-content a{
    scale: 1.2;
  }
}